doctype html(lang='en')
head
    title McKinnley Workman
    // Bootstrap Core CSS
    link(rel='shortcut icon', href='images/logo.png')
    
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css', type='text/css')
    // Custom Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    |     
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    //Clean theme footer
    link(rel='stylesheet', href='stylesheets/footer.css', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='stylesheets/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='stylesheets/creative.css', type='text/css')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      |
    body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand.page-scroll(href='#page-top') McKinnley Workman
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#services') Featured Projects
    |     
    header
      .header-content
        .header-content-inner
          h1 Explore!
          |                 
          hr.light
          //|
          // p
          //   | I built this site so you could explore and I could keep track.
          p
            | "Don't ask what the world needs. Ask yourself what makes you come alive and, go do that, because the world needs more people who have come alive." 
            | ~Howard Thurman
    |     
    section#about.bg-light
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading ABOUT ME
    |     
    section#about.bg-dark
      .container
        .row
          .col-lg-12.text-center
            canvas#lifesCanvas
    |     
    section#services.bg-light
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading FEATURED PROJECTS
    section#portfolio.no-padding
      .container-fluid
        .row.no-gutter
          .col-lg-4.col-sm-6
            a.portfolio-box(href='/engineering_pa')
              img.img-responsive(src='images/portfolio/epa.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2015
                  |                                 
                  .project-name
                    | Engineering Personal Assistant
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='/smart_tiny_house')
              img.img-responsive(src='images/portfolio/smarttinyhouse.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2016
                  |                                 
                  .project-name
                    | Smart Tiny Houses
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='/self_driving')
              img.img-responsive(src='images/portfolio/selfdriving.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2015
                  |                                 
                  .project-name
                    | Self Driving...things
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='wind_turbine')
              img.img-responsive(src='images/portfolio/turbine.bmp', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2011
                  |                                 
                  .project-name
                    | Beachfront Wind Turbine
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='/pbp')
              img.img-responsive(src='images/portfolio/pbp.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2014
                  |                                 
                  .project-name
                    | Sustainable Student Coop
          |                 
          .col-lg-4.col-sm-6
            a.portfolio-box(href='https://docs.google.com/presentation/d/1NTSUZoPU0vYm1bkIoy6SNBjNjGE_aEDOSX3reaBoo54/embed?start=false&loop=false&delayms=3000', target='_blank', style='target-new: tab;')
              img.img-responsive(src='images/portfolio/6.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2015
                  |                                 
                  .project-name
                    | Pallet Deck
          .col-lg-4.col-sm-6
            a.portfolio-box(href='https://docs.google.com/presentation/d/1NTSUZoPU0vYm1bkIoy6SNBjNjGE_aEDOSX3reaBoo54/embed?start=false&loop=false&delayms=3000', target='_blank', style='target-new: tab;')
              img.img-responsive(src='images/portfolio/6.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2015
                  |                                 
                  .project-name
                    | Pallet Deck
          .col-lg-4.col-sm-6
            a.portfolio-box(href='https://docs.google.com/presentation/d/1NTSUZoPU0vYm1bkIoy6SNBjNjGE_aEDOSX3reaBoo54/embed?start=false&loop=false&delayms=3000', target='_blank', style='target-new: tab;')
              img.img-responsive(src='images/portfolio/6.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2015
                  |                                 
                  .project-name
                    | Pallet Deck
          .col-lg-4.col-sm-6
            a.portfolio-box(href='https://docs.google.com/presentation/d/1NTSUZoPU0vYm1bkIoy6SNBjNjGE_aEDOSX3reaBoo54/embed?start=false&loop=false&delayms=3000', target='_blank', style='target-new: tab;')
              img.img-responsive(src='images/portfolio/6.jpg', alt='')
              |                         
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | 2015
                  |                                 
                  .project-name
                    | Pallet Deck
    |     
    footer#footer
      //My JS for Canvas
      script(type='text/javascript', src='javascripts/paper-full.min.js')
      script(type='text/paperscript', src='javascripts/canvas.js', canvas='lifesCanvas')
      .container
        .row
          .col-sm-12
            ul.social-links
              li
                a.wow.fadeInUp(href='https://www.facebook.com/mckinnley.workman?viewas=100000686899395&privacy_source=timeline_gear_menu', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Facebook')
                  i.fa.fa-facebook
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://www.linkedin.com/pub/mckinnley-workman/35/874/486', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='LinkedIn')
                  i.fa.fa-linkedin
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://twitter.com/McKinnleyWorkma', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Twitter')
                  i.fa.fa-twitter
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://plus.google.com/118268467311465142155/posts', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Google+')
                  i.fa.fa-google-plus
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://github.com/mckinnley', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Github')
                  i.fa.fa-github-square
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://bitbucket.org/mckworkman', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Bitbucket')
                  i.fa.fa-bitbucket
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='@mck.workman', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Slack')
                  i.fa.fa-slack
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://docs.google.com/document/d/15ZM9c37YMotoDAkefWdMMLMjMWSGd7NT1J4Bxf7oASc/pub', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='CV')
                  i.fa.fa-file-text
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
    
    // jQuery
    script(src='javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Plugin JavaScript
    script(src='javascripts/jquery.easing.min.js')
    |     
    script(src='javascripts/jquery.fittext.js')
    |     
    script(src='javascripts/wow.min.js')
    // Custom Theme JavaScript
    script(src='javascripts/creative.js')
