doctype html(lang='en')
head
    title McKinnley Workman
    // Bootstrap Core CSS
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css', type='text/css')
    // Custom Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    |     
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    //Clean theme footer
    link(rel='stylesheet', href='stylesheets/footer.css', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='stylesheets/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='stylesheets/creative.css', type='text/css')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65929619-1', 'auto');
      ga('send', 'pageview');
      |
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top(style="border-bottom: 1px solid black;")
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand.page-scroll(href='/', style="color:black;") McKinnley Workman
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='https://www.facebook.com/peanutbutterpalacecoop',  target='_blank', style="color:black;target-new: tab;") Check us out
            li
              i.fa.fa-4x.fa-facebook.wow.bounceIn.text-primary(data-wow-delay='.2s')
    |     
    section#about
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading <br>The Peanut Butter Palace 
            img(src='../images/pbp_logo.png')
            |                     
            hr.primary
            |                     
            p.text-muted
              | The Peanut Butter Palace is a UCF's first sustaianable student cooperative. 
              | It is a place for students to live in a communal, collaborative and enrichening atmosphere.
    |     
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Details
            |                     
            hr.primary
      |         
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            p.text-muted
              | The Peanut Butter Palace was an idea born after I had the 
              | opportunity to live in a Stanford Student Cooperative in Palo Alto called "Ithaka". The 
              | environment was enrichening, inspiring and the most wholistic living
              | experience I'd ever had. Upon transfering to UCF, I searched for a 
              | similar living situation. Unable to find anything, I decided to start
              | one. With the help of family, I was able to start what became known as
              | The Peanut Butter Palace in Fall 2013. The yard started as a sandy dry desert where
              | only the roughest and hardiest weeds managed to survive. Now, there are
              | hundreds of edibles and medicinals. It has become a community
              | of people interested in using our skills and talents to change 
              | the world. How are we changing the world? Well, remember the old adage 
              strong "If you want to make a change in the world, start in your backyard"? 
              | I really let that one sink in and realized its the truth. If I want 
              | to see people using rainwater catchment instead of city water, 
              | rather than preaching it I just need to do it in my backyard, paving 
              | the path and opening the door for others. Somehow people always find that door. More than
              | I ever expected in all honesty. Whether the door leads the way to rainwater watchment, 
              | growing your own food and medicine, building your own workshop, wind generator, anything. That principle is
              | the heart of this cooperative. It is project-based, initiative-based
              | and most importantly encourages intellegent experimentation. 
            .col-md-6
              h3 How it Works
              | The Job Board allows us all to keep track of our contributions to the PBP.
              | There are weekly jobs like deep cleans and a variety of cooks for community dinners.
              | Each coop member gives $100/month to the PBP import master who is 
              | responsible for importing community food-organic bulk goods like flower-and other community
              | necessities like toilet paper, seeds for the gardens, etc. This allows all
              | of us to eat organic, healthy and local meals throughout the week
              | while only having to do a cook/clean a couple times 
              | each week. We also each have a section of the garden to maintain. The
              | whole yard is essentially planted with edibles, medicinals, etc that
              | need to be harvested, weeded, etc. Each member of the coop has a portion
              | of the yard that they are responsible for maintaining and using to contribute
              | homegrown veggies and fruits to the coop.
            .col-md-4.text-center
              br
              br
              img(src='../images/pbp_jobboard.jpg', style="")
              | 
          |     
      .container
        .row
          .col-lg-12.text-center
            br
            .col-md-6
              img(src='../images/pbp.jpg')
              p Community Dinner
            .col-md-6
              img(src='../images/pbp2.jpg')
              p Back Yard Community Gardens
            .col-md-6
              img(src='../images/pbp3.jpg')
              p Harvested Sugar Cane
            .col-md-6
              img(src='../images/pbp4.jpg')
              p Jalapenio's coming again!
          |     
    |    
    footer#footer
      .container
        .row
          p 
          | See all projects and tutorials 
          a(href='https://www.broadspectrum.tk', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Broad Spectrum') here.
        .row
          .col-sm-12
            ul.social-links
              li
                a.wow.fadeInUp(href='https://www.facebook.com/mckinnley.workman?viewas=100000686899395&privacy_source=timeline_gear_menu', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Facebook')
                  i.fa.fa-facebook
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://www.linkedin.com/pub/mckinnley-workman/35/874/486', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='LinkedIn')
                  i.fa.fa-linkedin
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://twitter.com/McKinnleyWorkma', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Twitter')
                  i.fa.fa-twitter
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://plus.google.com/118268467311465142155/posts', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Google+')
                  i.fa.fa-google-plus
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://github.com/mckinnley', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Github')
                  i.fa.fa-github-square
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://bitbucket.org/mckworkman', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Bitbucket')
                  i.fa.fa-bitbucket
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://slack.com/', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='Slack @mck.workman')
                  i.fa.fa-slack
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.wow.fadeInUp(href='https://drive.google.com/folderview?id=0B9EST8b1rEnqfkNzXy1KdFMtY2NiMFlYdDhSX0RNWFp3b2MxSkRvVU1faXVENWNkSjZ4TkE&usp=sharing', target='_blank', style='target-new: tab;', data-toggle='tooltip', title='CV')
                  i.fa.fa-file-text
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        //.row
     //.container

    // jQuery
    script(src='javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Plugin JavaScript
    script(src='javascripts/jquery.easing.min.js')
    |     
    script(src='javascripts/jquery.fittext.js')
    |     
    script(src='javascripts/wow.min.js')
    // Custom Theme JavaScript
    script(src='javascripts/creative.js')
