@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
	background: #fff;
	/*background: #222;*/
	text-align: center;
	padding: 40px 0;
	/*color: #FFF;*/
	/*background-image: url(../images/space.jpg);*/
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.copyright {
	margin: 0;
}

.copyright a{
    border-bottom: 1px dotted #000;
}

#footer span{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	/*I added this padding top*/
	padding-top: 4px;
	width: 36px;
	height: 36px;
	display: block;
	line-height: 35px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, .5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	font-size: 26px;
	color: rgba(0, 0, 0, .5);
}

.social-links a:hover {
	border: 1px solid rgba(0, 0, 0, .7);
	color: rgba(0, 0, 0, .7);
}
